.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}

.max-content {
  width: max-content;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-yauto {
  overflow-y: auto;
}

.overflow-xauto {
  overflow-x: auto;
}

.clear-both {
  clear: both;
}
